
<div class="dashboard" *ngIf="!permissionService.userPermissionDisabled(this.permissionService.UPIds.VIEW_PROJECTS_DASHBOARD)">
    <h5><label for="projectList" class="form-label text-right">Projects</label></h5>
    <table id="projectList" class="table-striped table-bordered table fixed_header">
        <thead>
        <tr>
            <th scope="col" style="width: 100%">Title</th>
            <th scope="col" style="display: flex; justify-content: flex-end; padding: 5px; white-space: nowrap;">
                <app-dashboard-project-button
                    (hasError)="this.onDialogError($event)"></app-dashboard-project-button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of this.projectService.projects | async">
            <td style="width: 100%" [innerHTML]="this.getHtml(project.name)"></td>
            <td style="display: flex; justify-content: flex-end;">
                <button class="btn btn-outline-primary btn-sm action-btn-grp"
                        [disabled]="permissionService.permissionDisabled(project.id, this.permissionService.PPIds.VIEW_PROJECT_GRAPH)"
                        (click)="goToGraph(project)">Graph</button>
                <button class="btn btn-outline-primary btn-sm action-btn-grp"
                        [disabled]="permissionService.userPermissionDisabled(this.permissionService.UPIds.ADD_COPY_RENAME_PROJECTS)"
                        (click)="openDialog(project, dialogTypes.RENAME_PROJECT_DIALOG)">Rename</button>
                <button class="btn btn-outline-primary btn-sm action-btn-grp"
                        [disabled]="permissionService.userPermissionDisabled(this.permissionService.UPIds.ADD_COPY_RENAME_PROJECTS)"
                        (click)="openDialog(project, dialogTypes.COPY_PROJECT_DIALOG)">Copy</button>
                <app-project-export-button class="action-btn-grp" [project]="project"></app-project-export-button>
                <button class="btn btn-outline-danger btn-sm action-btn-grp"
                        [disabled]="permissionService.userPermissionDisabled(this.permissionService.UPIds.DELETE_PROJECTS)"
                        (click)="openDialog(project, dialogTypes.DELETE_PROJECT_DIALOG)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<app-rename-project-dialog
    *ngIf="this.activeDialog === dialogTypes.RENAME_PROJECT_DIALOG && this.activeProject"
    [project]="this.activeProject"
    (hasError)="this.onDialogError($event)"
    (closed)="this.onDialogClosed($event)"></app-rename-project-dialog>

<app-delete-project-dialog
    *ngIf="this.activeDialog === dialogTypes.DELETE_PROJECT_DIALOG && this.activeProject"
    [project]="this.activeProject"
    (hasError)="this.onDialogError($event)"
    (closed)="this.onDialogClosed($event)"></app-delete-project-dialog>

<app-copy-project-dialog
    *ngIf="this.activeDialog === dialogTypes.COPY_PROJECT_DIALOG && this.activeProject"
    [project]="this.activeProject"
    (hasError)="this.onDialogError($event)"
    (closed)="this.onDialogClosed($event)"></app-copy-project-dialog>
