.container-xxl{
    padding: 15px;
}

.custom-label-css {
    margin-left: 25pt;
    margin-right: 10pt;
}

.form-label {
    margin: 10pt;
}

.modal-footer {
    padding-bottom: 0px;
}

.custom-header {
    margin-bottom: 0px;
}

.form-group {
    margin: 0px;
}

#project-permissions {
    margin-top: 8px;
}

#search-users {
    margin-bottom: 8px;
}

#user-permissions-body {
    padding-left: 0px;
    padding-top: 0px;
}

#userPermissionsSubmitBtn {
    margin-left: 4px;
    margin-right: 8px;
}

#open-project-permissions {
    padding: 0px;
    margin-top: 6px;
}

#userEmail {
    width: 50%;
}

#projectPermissionsModal {
    overflow: auto;
}