/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
form.ng-submitted{
    .form-control.ng-invalid{
        @extend .is-invalid !optional;
    }
    .form-control.ng-valid{
        @extend .is-valid !optional;
    }
}
.form-group{
    h5{
        margin: 0;
    }
    .form-label {
        margin: 30px 0 10px 0;
    }
    h6 {
        margin: 30px 0 0 0;
    }
}