.information-requirement {
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 0.6rem;
    line-height: 1;
    .card-body {
        padding: unset;
        color: #000;
    }
    .card-header {
        font-size: 0.7rem;
        color: #000;
        &.on, &.selected{
            background-color: #4974a7;
            color: #fff;
        }
        .dropdown-content{
            margin-top: 10px;
        }
    }
}
.hide-entities{
    .card-body {
        display: none;
    }

    .card-header {
        display: none;
        &.selected  {
            display: block;
            &:not(.hide-ir) +.card-body {
                display: block;
            }
        }
    }
}
.hide-ir {
    +.card-body {
        display: none;
    }

}
.element-text {
    font-size: medium;
}

.custom-checkbox-css {
    margin-left: 10px;
    margin-right: 10pt;
}

.custom-label-css {
    margin-left: 25pt;
    margin-right: 10pt;
}

.action-btn-grp {
    margin-left: 10px;
}
.container-xxl{
    padding: 15px;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-toggle {
     white-space: normal;
 }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.show-ir-button{
    display: block;
    text-align: right;
    margin-bottom: 15px;
    button {
        cursor: pointer;
        svg{
            pointer-events: none;
        }
    }
}
#leader-line-container {
    .dropdown-toggle:after {
        display: none;
    }

    a {
        text-decoration: none;
    }
}