
<div class="container-xxl" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" >
    <div class="row buttons-div">
        <div class="col" align="center">
            <h5><label class="form-label">Project Organisational Objectives</label></h5>
        </div>
        <div class="col" align="center">
            <div class="dropdown">
                <button type="button" aria-haspopup="true" aria-expanded="false"
                        class="btn btn-outline-primary dropdown-toggle dropbtn">Functional Requirements</button>
                <div class="dropdown-content">
                    <button class="dropdown-item" *ngIf="this.project.id"
                            [disabled]="this.permissionService.permissionDisabled(this.project.id.toString(), this.permissionService.PPIds.EDIT_FRS)"
                            (click)="new(dialogTypes.FR_DIALOG)">Add Functional Requirement</button>
                </div>
            </div>
        </div>
        <div class="col" align="center">
            <div class="dropdown">
                <button type="button" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropbtn">Functional Outputs</button>
                <div class="dropdown-content">
                    <button class="dropdown-item" *ngIf="this.project.id"
                            [disabled]="this.permissionService.permissionDisabled(this.project.id, this.permissionService.PPIds.EDIT_FOS)"
                            (click)="new(dialogTypes.FO_DIALOG)">Add Functional Output</button>
                    <button class="dropdown-item" *ngIf="this.project.id"
                            [disabled]="this.permissionService.permissionDisabled(this.project.id, this.permissionService.PPIds.IMPORT_DATA)"
                            (click)="firfileInput.click();">
                        Import Functional Information Requirements
                    </button>

                    <input #firfileInput type="file" style="display:none;" (change)="importFirs($event);firfileInput.value='';" />
                </div>
            </div>
        </div>
        <div class="col" align="center">
            <div class="dropdown">
                <button type="button" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropbtn">Assets</button>
                <div class="dropdown-content">
                    <button class="dropdown-item" *ngIf="this.project.id"
                            [disabled]="this.permissionService.permissionDisabled(this.project.id, this.permissionService.PPIds.ADD_ASSETS)"
                            (click)="new(dialogTypes.ASSET_DIALOG)">Add Asset</button>
                    <button class="dropdown-item" *ngIf="this.project.id"
                            [disabled]="this.permissionService.permissionDisabled(this.project.id, this.permissionService.PPIds.IMPORT_DATA)"
                            (click)="airsfileInput.click()">
                        Import Asset Information Requirements
                    </button>

                    <input #airsfileInput type="file" style="display:none;" (change)="importAirs($event);airsfileInput.value='';" />
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row row-cols-4" id="leader-line-container">
        <div class="col">
            <div class="d-flex flex-column justify-content-around h-100" *ngIf="poos">
                <div *ngFor="let poo of poos.value"
                     class="card text-center information-requirement w-50 mx-auto">
                    <a (click)="editPoo(poo)">
                        <h5 class="card-header" id="{{poo.id}}"
                            (mouseover)="mouseEnterPOO($event)"
                            (mouseleave)="mouseLeavePOO($event)"
                            (dragstart)="pooLinkStart($event)"
                            [draggable]="true">{{poo.name}}
                        </h5>
                        <div *ngIf="poo.oo_versions.length > 1 || poo.oo_is_deleted===true" style="background-color:lightgrey">
                            <span *ngIf="poo.oo_is_deleted===true" style="color:red;"><br/>(Organisationally deleted)</span>
                            <span *ngIf="poo.oo_versions.length > 1">
                                <br/>{{'(' + (poo.oo_versions.length-1) + " later title change" + (poo.oo_versions.length > 2 ? "s" : "")+" available)"}}
                            </span>
                            <hr/>
                        </div>
                    </a>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li *ngFor="let oir of poo.oirs" class="list-group-item">{{oir.oir}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column justify-content-around h-100" *ngIf="this.project.id">
                <div *ngFor="let fr of frs.value" class="card text-center information-requirement w-50 mx-auto"
                     (dragover)="allowLinkToFR($event)"
                     (drop)="!this.permissionService.permissionDisabled(this.project.id, this.permissionService.PPIds.EDIT_POOS) && linkToFR($event)">
                    <a (click)="editFr(fr)">
                        <h5 class="card-header"
                            (mouseover)="mouseEnterFR($event)"
                            (mouseleave)="mouseLeaveFR($event)"
                            (dragstart)="frLinkStart($event)"
                            [draggable]="true"
                            id="{{fr.id}}">{{fr.name}}
                        </h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column justify-content-around h-100" *ngIf="this.project.id">
                <div *ngFor="let fo of fos.value" class="card text-center information-requirement w-50 mx-auto"
                     (dragover)="allowLinkToFO($event)"
                     (drop)="!this.permissionService.permissionDisabled(this.project.id, this.permissionService.PPIds.EDIT_FRS) && linkToFO($event)">
                    <a (click)="editFo(fo)">
                        <h5 class="card-header"
                            (mouseover)="mouseEnterFO($event)"
                            (mouseleave)="mouseLeaveFO($event)"
                            (dragstart)="foLinkStart($event)"
                            [draggable]="true"
                            id="{{fo.id}}">{{fo.data_dictionary_entry.text}}
                        </h5>
                    </a>
                    <div class="card-body" *ngIf="fo.firs.length>0">
                        <ul class="list-group list-group-flush">
                            <li *ngFor="let fir of fo.firs" class="list-group-item">{{fir}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column justify-content-around" *ngIf="this.project.id">
                <div class="card text-center information-requirement w-50 mx-auto" *ngFor="let asset of this.assets | async"
                     (dragover)="allowLinkToAsset($event)"
                     (drop)="!this.permissionService.permissionDisabled(this.project.id, this.permissionService.PPIds.EDIT_FOS) && linkToAsset($event)">
                    <a (click)="editAsset(asset)">
                        <h5 class="card-header" (mouseover)="mouseEnterAsset($event)" (mouseleave)="mouseLeaveAsset($event)"
                            id="{{asset.id}}">{{asset.data_dictionary_entry.text}}
                        </h5>
                    </a>
                    <div class="card-body" *ngIf="asset.airs.length>0">
                        <ul class="list-group list-group-flush">
                            <li *ngFor="let air of asset.airs" class="list-group-item">{{air}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngFor="let entityLinks of entityLinks | keyvalue">
        <app-entity-link *ngFor="let entityLink of entityLinks.value"
                         leftLink="{{entityLinks.key}}" rightLink="{{entityLink}}"></app-entity-link></div>
</div>