<div *ngIf="this.objectives">
    <div *ngFor="let objective of this.objectives | async" class="card text-center oo-container w-50 mx-auto" >
        <a (click)="this.permissionService.userPermissionDisabled(this.permissionService.UPIds.EDIT_OOS) ? null : open(objective)">
            <h5 [ngClass]="objective.is_deleted===true ? 'strikethrough' : ''"
                class="card-header" id="{{objective.id}}">{{objective.name}}</h5>
        </a>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li *ngFor="let oir of objective.oirs" class="list-group-item">{{oir.oir}}</li>
            </ul>
        </div>
    </div>

</div>