<div class="container-xxl" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row buttons-div">
        <div class="col" align="center">
            <button type="button" class="btn btn-outline-primary"
                    (click)="openModal(true)"
                    [disabled]="this.permissionService.userPermissionDisabled(this.permissionService.UPIds.EDIT_OOS)">
                Organisational Objectives
            </button>
        </div>
    </div>
    <hr>

    <div class="row" *ngIf="!this.permissionService.userPermissionDisabled(this.permissionService.UPIds.VIEW_OOS)">
        <div class="col" align="center">
            <div class="col-3">
                <div class="d-flex flex-column justify-content-around h-100">
                    <div *ngFor="let objective of objectives" class="card text-center oo-container w-50 mx-auto">
                        <a (click)="openPrePopulatedModal(objective.id === null ? '' : objective.id, objective.name, this.permissionService.userPermissionDisabled(this.permissionService.UPIds.EDIT_OOS))">
                            <h5 [ngClass]="objective.is_deleted===true ? 'strikethrough' : ''"
                                class="card-header" id="{{objective.id}}">{{objective.name}}</h5>
                        </a>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li *ngFor="let oir of objective.oirs" class="list-group-item">{{oir.oir}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Organisational Objectives Content -->
    <div id="orgObjectivesContent" class="modal fade" role="dialog" [ngStyle]="{'display': orgObjectivesIsOpen ? 'block' : 'none', 'opacity': 1}">
        <div  class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content" ngDraggable [handle]="orgObjHandle">
                <div class="modal-header row d-flex justify-content-between mx-1 mx-sm-3 mb-0 pb-0 border-0" #orgObjHandle>
                    <h3 class="modal-title">Organisational Objective</h3>
                    <button type="button" class="close" aria-label="Close" (click)="openModal(false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #oo = 'ngForm' (ngSubmit)="saveOrganisationalObjective(oo.value)">
                        <!-- OO -->
                        <div class="form-group">
                            <h5><label for="ooId" class="form-label text-right" style="margin: 10pt">Title</label></h5>
                            <input #elOOId id="ooId" name="id" #ooId="ngModel" required [class.is-invalid]="ooId.invalid" class="form-control element-text is-invalid"
                                    list="ooDatalistOptions"
                                   (change)="ooChange($event)" placeholder="Organisational Objective Name / Title ... " autocomplete="off" ngModel>

                            <datalist id="ooDatalistOptions">
                                <option *ngFor="let oo of objectives" value="{{oo.name}}">
                                    {{oo.name}}
                                </option>
                            </datalist>
                            <div *ngFor="let oo of objectives">
                                <input *ngIf="oo.id === selectedOOId" [(ngModel)]="oo.id" id="ooMainId" name="ooMainId"
                                       value="{{oo.id}}" hidden>
                                <input *ngIf="oo.id === selectedOOId && oo.oirs.length>0" [(ngModel)]="oo.oirs" id="ooExistingOIRs" name="ooExistingOIRs"
                                       value="{{oo.oirs}}" hidden>
                            </div>
                        </div>
                        <!-- OIRs-->
                        <div class="form-group">
                            <h5><label for="oirText" style="margin: 10pt">Organisation Information Requirement <i>(OIR)</i></label></h5>
                            <div class="input-group">
                                <input id="oirText" name="oirs" class="form-control element-text" placeholder="OIR Text ... " ngModel>
                            </div>

                            <h6><label for="OIRContent" style="margin: 10pt"><b>Linked OIR</b>
                                <label style="font-size: smaller; font-style: italic; color: #0366d6; margin-left: 5pt"> (Uncheck to <b>delete</b> linked OIRs)</label></label></h6>
                            <div id="ooOIRDiv" class="form=group" *ngFor="let oo of objectives">
                                <div *ngFor="let oir of oo.oirs" id="OIRContent">
                                    <input class="custom-label-css" *ngIf="oo.id === selectedOOId && oo.oirs.length>0" (change)="onOOOIRChange(oir)"
                                           id="ooOIRSelect" type="checkbox" value="{{oir}}" checked />
                                    <label class="custom-label-css" *ngIf="oo.id === selectedOOId && oo.oirs.length>0" for="ooOIRSelect">{{oir.oir}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div *ngFor="let oo of objectives">
                                <div *ngIf="oo.name === selectedOOName">
                                    <ng-container *ngIf="oo.oirs.length === 0">
                                        <button type="button" class="btn btn-outline-danger" (click)="deleteOrganisationalObjective(oo.id==null ? '' :oo.id, oo.name)">Delete</button>
                                    </ng-container>
                                </div>
                            </div>
                            <ng-container>
                                <button #elOOSubmitBtn id="ooSubmitBtn" type="submit" data-dismiss="modal" class="btn btn-outline-primary" [disabled]="!oo.valid">Save</button>
                                <button type="button" data-dismiss="modal" class="btn btn-outline-secondary" (click)="openModal(false)">Cancel</button>
                            </ng-container>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>