

.action-btn-grp {
    margin-left: 10px;
}
.container-xxl{
    padding: 15px;
}
.gridlist-button{
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-right: 15px;
    button {
        cursor: pointer;
        svg{
            pointer-events: none;
        }
    }
}