<div class="content-container">
  <div class="content-area">
    <div class="row">
        <div class="card" style="left: '50px'">
            <div class="card-header">Page not found</div>
            <div class="card-block" style="margin:15px">
                <div class="card-text" > This page does not exist, please try again</div>
            </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="back()">Go back</button>
        </div>
        </div>
    </div>
  </div>
</div>
